.hero {
  @extend %centeredFlex;
  margin: 0 auto;
  text-align: center;
  background-color: var(--section-background-color);
  height: 83.33vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // Варіант А
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    image-set(
      url('../../images/mobile/header-bcg-img@1x.webp') 1x,
      url('../../images/mobile/header-bcg-img@2x.webp') 2x,
      url('../../images/mobile/header-bcg-img@1x.jpg') 1x,
      url('../../images/mobile/header-bcg-img@2x.jpg') 2x
    );
  // Варіант Б
  @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/mobile/header-bcg-img@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/mobile/header-bcg-img@2x.jpg);
  }

  @media screen and (min-width: $mobile) {
    height: 400px;
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/tablet/header-bcg-img@1x.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/tablet/header-bcg-img@2x.jpg);
    }
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
    height: 600px;
  }
  &__title {
    color: var(--main-light-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
  &__button {
    padding-left: 32px;
    padding-right: 32px;
    width: auto;
  }
}
