.page-header {
  border-bottom: 1px solid #ececec;
  &__logo {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      margin-right: 87px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 92px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
      padding: 10px 15px;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: $tablet) {
      justify-content: start;
      width: auto;
    }
  }
}
