.page-header {
  border-bottom: 1px solid #ececec;
  &__logo {
    @media screen and (min-width: $desktop) {
      margin-right: 93px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
      padding: 10px 15px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
