.card-set {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @extend %list;

  &__item {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: calc($tablet - 1px)) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}
